.container {
  margin-top: 70px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.download-table-button {
  background-color: var(--accent-color);
  color: var(--text-color);
  border: none;
  padding: 8px 12px;
  font-size: small;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5px;
}

.download-table-button:hover {
  background-color: var(--secondary-color);
}

.page-actions {
  padding: 0px;
  justify-content: normal;
}

.propose-button {
  background-color: var(--tertiary-color);
  color: var(--text-color);
  border: none;
  padding: 8px 12px;
  font-size: small;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5px;
}
.propose-button:hover {
  background-color: var(--secondary-color);
}

.modal {
  max-width: 700px;
}

.block-container {
  width: 90%;
}

.error-message {
  color: red;
  font-size: small;
}

.remove-button {
  background-color: var(--error-color);
  color: white;
  font-size: 12px;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  align-self: center;
}

.remove-button:hover {
  background-color: var(--error-color);
}

.delete-button {
  margin: 0px 0px 5px;
  padding: 8px 12px;
}
.delete-button:not([disabled]):hover {
  background-color: var(--error-color);
  color: white;
}

.delete-button:not([disabled]) {
  border: 1px solid var(--error-color);
  color: var(--error-color);
}
